body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }

.fight-stick .x {
top: 150px;
left: 490px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/bhL58cL.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/bhL58cL.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .y {
top: 75px;
left: 620px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/tKCkyze.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/tKCkyze.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .a {
top: 225px;
left: 770px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/eQ3bGL4.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/eQ3bGL4.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .b {
top: 75px;
left: 770px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/JlXxzJb.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/JlXxzJb.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .bumper.right {
top: 75px;
left: 920px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/On2Gefq.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/On2Gefq.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .bumper.left {
top: 225px;
left: 920px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/a1QH6mS.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/a1QH6mS.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .trigger-button.right {
top: 225px;
left: 620px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/rjDFkge.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/rjDFkge.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .trigger-button.left {
top: 300px;
left: 490px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/HvqWWif.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/HvqWWif.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .face.left {
top: 145px;
left: 75px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/IBqtBMp.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/IBqtBMp.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .face.down {
top: 145px;
left: 225px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/JrUU6U2.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/JrUU6U2.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .face.right {
top: 220px;
left: 355px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/RZS84T4.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/RZS84T4.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .face.up {
top: 435px;
left: 415px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/wMfjrVc.png") repeat scroll 0% 0% / cover padding-box border-box;
visibility: visible;
width: 150px;
height: 150px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: url("https://imgur.com/wMfjrVc.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .start {
top: 120px;
left: 484px;
background: rgb(51, 51, 51) url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/icons/white2PxBorder/Start2pxBorder.png") no-repeat scroll 50% 50% / 80px padding-box border-box;
visibility: hidden;
width: 100px;
height: 100px;
border: 6.25px solid rgb(0, 0, 0);
border-radius: 100%;
background-position-y: 50%;
background-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/icons/white2PxBorder/Start2pxBorder.png");
background-size: 80px;
background-repeat: no-repeat;
background-image: 50% 50%;
border-radius: 100%;
border-color: rgb(0, 0, 0);
--text-color: #ffffff;
--text-font-size: 62px;
--text-stroke-color: #000000;
--text-stroke-width: 4px;
--text-content: "";
--text-font-family: "Helvetica Neue LT Pro";
}

.fight-stick .back {
top: 120px;
left: 380px;
background: rgb(51, 51, 51) url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/icons/white2PxBorder/Back2pxBorder.png") no-repeat scroll 50% 50% / 80px padding-box border-box;
visibility: hidden;
width: 100px;
height: 100px;
border: 6.25px solid rgb(0, 0, 0);
border-radius: 100%;
background-position-y: 50%;
background-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/icons/white2PxBorder/Back2pxBorder.png");
background-size: 80px;
background-repeat: no-repeat;
background-image: 50% 50%;
border-radius: 100%;
border-color: rgb(0, 0, 0);
--text-color: #ffffff;
--text-font-size: 62px;
--text-stroke-color: #000000;
--text-stroke-width: 4px;
--text-content: "";
--text-font-family: "Helvetica Neue LT Pro";
}

.fight-stick .stick.left {
top: 475px;
left: 295px;
background: rgb(51, 51, 51) none no-repeat scroll 50% 50% / 175px padding-box border-box;
visibility: hidden;
width: 150px;
height: 150px;
border: 10px solid rgb(0, 0, 0);
border-radius: 100%;
background-position-y: 50%;
background-image: none;
background-size: 175px;
background-repeat: no-repeat;
background-image: 50% 50%;
border-radius: 100%;
border-color: rgb(0, 0, 0);
--text-color: #ffffffFF;
--text-font-size: 83px;
--text-stroke-color: #000000;
--text-stroke-width: 2px;
--text-content: "LS";
--text-font-family: "Arial";
}

.fight-stick .stick.right {
top: 475px;
left: 705px;
background: rgb(51, 51, 51) none no-repeat scroll 50% 50% / 175px padding-box border-box;
visibility: hidden;
width: 150px;
height: 150px;
border: 10px solid rgb(0, 0, 0);
border-radius: 100%;
background-position-y: 50%;
background-image: none;
background-size: 175px;
background-repeat: no-repeat;
background-image: 50% 50%;
border-radius: 100%;
border-color: rgb(0, 0, 0);
--text-color: #ffffffFF;
--text-font-size: 83px;
--text-stroke-color: #000000;
--text-stroke-width: 2px;
--text-content: "RS";
--text-font-family: "Arial";
}

.fight-stick .x.pressed {
top: 150px;
left: 490px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/bhL58cL.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/bhL58cL.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .y.pressed {
top: 75px;
left: 620px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/tKCkyze.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/tKCkyze.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .a.pressed {
top: 225px;
left: 770px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/eQ3bGL4.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/eQ3bGL4.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .b.pressed {
top: 75px;
left: 770px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/JlXxzJb.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/JlXxzJb.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .bumper.right.pressed {
top: 75px;
left: 920px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/On2Gefq.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/On2Gefq.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .bumper.left.pressed {
top: 225px;
left: 920px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/a1QH6mS.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/a1QH6mS.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .trigger-button.right.pressed {
top: 225px;
left: 620px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/rjDFkge.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/rjDFkge.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .trigger-button.left.pressed {
top: 300px;
left: 490px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/HvqWWif.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/HvqWWif.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .face.left.pressed {
top: 145px;
left: 75px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/IBqtBMp.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/IBqtBMp.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .face.down.pressed {
top: 145px;
left: 225px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/JrUU6U2.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/JrUU6U2.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .face.right.pressed {
top: 220px;
left: 355px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/RZS84T4.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/RZS84T4.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .face.up.pressed {
top: 435px;
left: 415px;
background: rgba(0, 0, 0, 0) url("https://imgur.com/wMfjrVc.png") repeat scroll 0% 100% / cover padding-box border-box;
visibility: visible;
width: 160px;
height: 160px;
border: 0px solid rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 100%;
background-image: url("https://imgur.com/wMfjrVc.png");
background-size: cover;
background-repeat: repeat;
background-image: 0% 100%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: "";
--text-font-size: "";
--text-stroke-color: "";
--text-stroke-width: "";
--text-content: "";
--text-font-family: Helvetica Neue LT Pro;
}

.fight-stick .start.pressed {
top: 120px;
left: 484px;
background: rgb(255, 255, 255) url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/icons/white2PxBorder/StartBlack.png") no-repeat scroll 50% 50% / 80px padding-box border-box;
visibility: hidden;
width: 100px;
height: 100px;
border: 6.25px solid rgb(0, 0, 0);
border-radius: 100%;
background-position-y: 50%;
background-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/icons/white2PxBorder/StartBlack.png");
background-size: 80px;
background-repeat: no-repeat;
background-image: 50% 50%;
border-radius: 100%;
border-color: rgb(0, 0, 0);
--text-color: #ffffff;
--text-font-size: 62px;
--text-stroke-color: #000000;
--text-stroke-width: 4px;
--text-content: "";
--text-font-family: "Helvetica Neue LT Pro";
}

.fight-stick .back.pressed {
top: 120px;
left: 380px;
background: rgb(255, 255, 255) url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/icons/white2PxBorder/BackBlack.png") no-repeat scroll 50% 50% / 80px padding-box border-box;
visibility: hidden;
width: 100px;
height: 100px;
border: 6.25px solid rgb(0, 0, 0);
border-radius: 100%;
background-position-y: 50%;
background-image: url("https://raw.githubusercontent.com/KurtMage/KurtMage.github.io/main/images/Console%20controllers/xbox/icons/white2PxBorder/BackBlack.png");
background-size: 80px;
background-repeat: no-repeat;
background-image: 50% 50%;
border-radius: 100%;
border-color: rgb(0, 0, 0);
--text-color: #ffffff;
--text-font-size: 62px;
--text-stroke-color: #000000;
--text-stroke-width: 4px;
--text-content: "";
--text-font-family: "Helvetica Neue LT Pro";
}

.fight-stick .stick.left.pressed {
top: 475px;
left: 295px;
background: rgb(255, 255, 255) none no-repeat scroll 50% 50% / 175px padding-box border-box;
visibility: hidden;
width: 160px;
height: 160px;
border: 10px solid rgb(0, 0, 0);
border-radius: 100%;
background-position-y: 50%;
background-image: none;
background-size: 175px;
background-repeat: no-repeat;
background-image: 50% 50%;
border-radius: 100%;
border-color: rgb(0, 0, 0);
--text-color: #000000FF;
--text-font-size: 83px;
--text-stroke-color: #000000;
--text-stroke-width: 2px;
--text-content: "LS";
--text-font-family: "Arial";
}

.fight-stick .stick.right.pressed {
top: 475px;
left: 705px;
background: rgb(255, 255, 255) none no-repeat scroll 50% 50% / 175px padding-box border-box;
visibility: hidden;
width: 160px;
height: 160px;
border: 10px solid rgb(0, 0, 0);
border-radius: 100%;
background-position-y: 50%;
background-image: none;
background-size: 175px;
background-repeat: no-repeat;
background-image: 50% 50%;
border-radius: 100%;
border-color: rgb(0, 0, 0);
--text-color: #000000FF;
--text-font-size: 83px;
--text-stroke-color: #000000;
--text-stroke-width: 2px;
--text-content: "RS";
--text-font-family: "Arial";
}

.fight-stick .fstick {
top: auto;
left: auto;
background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / cover padding-box border-box;
visibility: hidden;
width: 150px;
height: 150px;
border: 0px none rgb(51, 51, 51);
border-radius: 0px;
background-position-y: 0%;
background-image: none;
background-size: cover;
background-repeat: repeat;
background-image: 0% 0%;
border-radius: 0px;
border-color: rgb(51, 51, 51);
--text-color: ;
--text-font-size: ;
--text-stroke-color: ;
--text-stroke-width: ;
--text-content: ;
--text-font-family: ;
}
